* {
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 350px;
    padding: 1rem;
    margin: 1rem auto;
    border: 2px solid rgb(168, 0, 0);
    border-radius: 2rem 0;
    text-align: center;
}

.box_img {
    height: 300px;
    width: 300px;
}

.hero_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}