.background {
    background: linear-gradient(to bottom, #04172B, #4A1323);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 500px;
}

.heroes-list {
    padding: 120px 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gradient-text {
  background: linear-gradient(to bottom, #FFFFFF, #3a3a3a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
    .heroes-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 120px 80px;
    }

}