.background {
    background: linear-gradient(to bottom, #04172B, #4A1323);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 500px;
}

.heroes-list {
    padding: 120px 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* .card {
    background-image: var(--heroProfileImg);
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 1rem;
    transition: height 0.4s ease-in-out;
} */
/* .card:hover{
    height: 400px;
} */

/* .hero_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  bottom: 40px;
  border-radius: 1rem;
} */

/* .btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    background: linear-gradient(to right, #07284d, #851621);
    color: rgb(161, 161, 161);
    border: 2px solid rgb(161, 161, 161);
    border-radius: 1rem;
    font-size: 40px;
    line-height: 1;
}
.btn-add > span {
    font-size: 64px;
    margin-right: 1rem;
    font-weight: small;
}

.btn-add:hover {
    color: white;
    border: 2px solid white;
} */

.gradient-text {
  background: linear-gradient(to bottom, #FFFFFF, #3a3a3a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
    .heroes-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* top: 100px; */
        padding: 120px 80px;
        /* padding: 0px; */
        /* overflow-x: scroll; */
        /* max-width: 100%; */
        /* justify-content: space-between; */
    }

    /* .card {
        height: 200px;
        width: 200px;
        position: relative;
    } */

    /* .card-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,0.6);
        color: white;
        padding: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
    } */

    /* au hover, on affiche le texte */
    /* .card:hover .card-text {
        opacity: 1;
    } */
    /* .card:hover {
        height: 600px;
        width: 600px;
    } */

    /* .hero_img {
        height: 200px;
    } */

    /* .btn-add {
        position: fixed;
        bottom: 90px;
        width: 500px;
        height: 80px;
    } */
}