<div class="background"></div>

<div class="container">
    <div class="heroes-list" >
      @for (hero of heroList(); track $index) {
        <div class="card" (click)="goToHeroDetail(hero)">
            <img 
              class="hero_img"
              [src]="hero.profile_img 
                    ? (hero.profile_img.startsWith('http') 
                          ? hero.profile_img 
                          : 'assets/public/' + hero.profile_img) 
                    : 'assets/default.jpg'"
              alt="Image du héros">
            <div class="card-text">
              <h3>{{hero.hero_name}}</h3>
              <p>by &#64;{{hero.appUser?.username}}</p>
            </div>
        </div>
      }
    </div>
</div>