<header class="header">
  <nav class="navbar">
    <a href="/">
      <img class="logo" src="../../../assets/public/Marvel_Logo.svg.png" alt="Logo">
    </a>

    <!-- Bouton burger -->
    <button class="burger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="navbar_link" [class.open]="isMenuOpen">
      <a href="/">HEROES</a>
      <a (click)="goToAddForm()">AJOUTER MON HERO</a>
      <a (click)="goToLoginForm()">CONNEXION</a>
    </div>
  </nav>
</header>