/* Mobile first */

.background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.main {
    /* position: fixed;
    top: 0;
    right: 0; */
    /* width: 100%;
    height: 100vh; */
    /* z-index: -1; */
}

.hero_name {
    position: absolute;
    width: 100%;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    top: 80px;
    z-index: -1;
    line-height: 1;
    font-weight: 900;
}
.gradient-text {
  background: var(--heroGradient);
  background-clip: text;
  -webkit-background-clip: text; /* Chrome / Safari */
  color: transparent;
  -webkit-text-fill-color: transparent; /* Chrome / Safari */
}

.img_desc {
    padding: 80px 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero_img_png{
  max-height: 350px;
  transition: height 0.4s ease-in-out;
}

.hero_description {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 3rem;
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 120px;
}
.btn_container > button {
  background: none;
  color: white;
  text-transform: uppercase;
  border: 2px solid rgb(104, 104, 104);
  padding: 10px;
}
.btn_container > button:hover {
  color: white;
  border: 3px solid white;
  font-weight: 700;
}

.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: black;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 400px;
}
.modal_btn > button {
  margin: 1rem;
  width: 100px;
}
.modal_btn > button:hover {
  background: rgb(100, 148, 211);
  color: white;
  font-weight: 600;
} 

@media (min-width: 768px) {
  .hero_name {
    font-size: 115px;
  }
}

@media (min-width: 1024px) {
  .hero_name {
    font-size: 150px;
  }

  .img_desc {
      flex-direction: row;
      min-height: 700px;
  }

  .hero_img_png{
    max-height: 700px;
    max-width: 50%;
  }

  .hero_description {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 0;
    padding: 3rem;
    width: 50%;
  }
}