<header class="header">
  <nav class="navbar">
    <img class="logo" src="../../../assets/public/Marvel_Logo.svg.png" alt="Logo">
    <div class="navbar_link">
      <a href="/">HEROES</a>
      <a href="/">ABOUT</a>
      <a href="/">ADD MY HERO</a>
      <a href="/">CONTACT</a>
    </div>
  </nav>
</header>

<div class="main" [style.background]="hero.bg_gradient">
  <h1 class="hero_name gradient-text" [style.--heroGradient]="hero.name_color">{{hero.hero_name}}</h1>
  <div class="img_desc">
    <img class="hero_img_png" [src]="hero.png_img" alt="Image png du héro">
    <p class="hero_description">{{hero.description}}</p>
  </div>
</div>

<footer class="footer">

</footer>