* {
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 350px;
    padding: 1rem;
    margin: 1rem auto;
    border: 2px solid rgb(168, 0, 0);
    border-radius: 2rem 0;
    text-align: center;
    margin-bottom: 5rem;
}

.btn_back {
    background-color: rgb(168, 0, 0);
    text-transform: uppercase;
    color: white;
    width: 200px;
    height: 2rem;
    margin: auto;
}

.box_img {
    height: 300px;
    width: 300px;
}

.hero_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.preview, .main {
    display: inline-block;
    vertical-align: top;
}

.preview {
    margin: 20px;
}

.main {
    width: calc(100% - 500px);
}

form {
    max-width: 300px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label {
    font-size: small;
}

.ng-dirty.ng-invalid, .ng-touched.ng-invalid {
    border-color: red;
    border-width: 1px;
}

.error {
    font-size: x-small;
    color: red;
}

.button-container {
    display: flex;
    gap: 10px;
}