<div class="container preview">
    <div class="card">
      <h2>{{hero.name}}</h2>
      <div class="box_img">
        <img class="hero_img" src="{{hero.image}}" alt="Image du héro">
      </div>
      <p>{{hero.description}}</p>
    </div>
</div>

<div class="main">
  <form [formGroup]="formGroup" (submit)="submit($event)">
    <div class="form-field">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" formControlName="name">
      @if (isFieldValid('name')) {
        <div class="error">This field is required.</div>
      }
    </div>
    <div class="form-field">
      <label for="description">Description</label>
      <input id="description" name="description" type="text" formControlName="description">
      @if (isFieldValid('description')) {
        <div class="error">This field is required.</div>
      }
    </div>
    <div class="form-field">
      <label for="image">Image</label>
      <input id="image" name="image" type="text"  formControlName="image">
      @if (isFieldValid('image')) {
        <div class="error">This field is required.</div>
      }
    </div>
    <div class="form-field">
      <label for="comics">Comics</label>
      <input id="comics" name="comics" type="text"  formControlName="comics">
      @if (isFieldValid('comics')) {
        <div class="error">This field is required.</div>
      }
    </div>
    <div class="button-container">
      <button (click)="navigateBack()">Cancel</button>
      <button type="submit" [disabled]="formGroup.invalid">Save</button>
    </div>
  </form>
</div>