.background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 120px;
    color: white;
}

.visu {
    display: flex;
    flex-direction: column;
}

.container, .visu{
    position: relative;
    top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    /* padding: 1rem; */
    margin: 2rem auto;
    text-align: center;
    gap: 1rem;
}

.hp_preview {
    width: 90%;
    height: 100px;
    overflow: hidden;
    border-radius: 1rem;
    transition: height 0.4s ease-in-out;
}
.hp_preview > img {
    height: auto;
    object-fit: cover;
}
.hp_preview:hover {
    height: 300px;
}

.hero_img {
    height: 300px;
    object-fit: cover;
}


.main {
    padding: 2rem;
}

.input_color {
    display: flex;
    gap: 1rem;
}

.btn_back {
    background-color: rgb(168, 0, 0);
    text-transform: uppercase;
    color: white;
    width: 200px;
    height: 2rem;
    margin: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.ng-dirty.ng-invalid, .ng-touched.ng-invalid {
    border-color: red;
    border-width: 1px;
}

.error {
    font-size: x-small;
    color: red;
}

.button-container {
    margin-top: 3rem;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.gradient-text {
    background: var(--nameGradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 56px;
}